<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <UsingTask TaskName="DBFileBuilder.DBFB" AssemblyFile="C:\Users\kla\Documents\perso\dbfilebuilder\DBFileBuilder\bin\Release\DBFileBuilder.dll" />
  <UsingTask TaskName="DBFileBuilder.DBFC" AssemblyFile="C:\Users\kla\Documents\perso\dbfilebuilder\DBFileBuilder\bin\Release\DBFileBuilder.dll" />
  <Target Name="DBFBuild" AfterTargets="AfterBuild">
    <DBFB OutputPath="$(OutputPath)" ProjectName="$(SqlTargetName)" />
  </Target>
  <Target Name="DBFClean" AfterTargets="AfterClean">
    <DBFC OutputPath="$(OutputPath)" ProjectName="$(SqlTargetName)" />
  </Target>
</Project>