<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DomainEntities" connectionString="metadata=res://*/DataBase.Domain.csdl|res://*/DataBase.Domain.ssdl|res://*/DataBase.Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\_Projects\Poc\Database\bin\debug\Database.mdf;Integrated Security=false&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>